:root {
    --decorative-spacing-xs: 4px;
    --decorative-spacing-s: 8px;
    --decorative-spacing-m: 12px;
    --decorative-spacing-l: 16px;
    --decorative-spacing-xl: 24px;
    --semantic-spacing-s: 0.5rem;
    --semantic-spacing-m: 1rem;
    --semantic-spacing-l: 1.5rem;
    --semantic-spacing-xl: 2rem;
    --border-radius-std: 8px;
    --border-radius-large: 16px;
    --bg-default: oklch(97.614% 0.00011 271.152);
    --bg-dark: oklch(84.522% 0.0001 271.152);
    --bg-light: oklch(100% 0.00011 271.152);
    --color-accent: oklch(51.146% 0.24057 273.869);
    --color-accent-light: oklch(70.177% 0.15825 278.325);
    --text-default: oklch(19.125% 0.00002 271.152);
    --text-secondary: oklch(19.125% 0.00002 271.152/0.75);
    --high-contrast-bg: oklch(100% 0.00011 271.152);
    --high-contrast-text: oklch(0% 0 0);
    --high-contrast-track: oklch(59.987% 0.00007 271.152);
    --high-contrast-thumb: oklch(100% 0.00011 271.152);
    --high-contrast-active-track: oklch(77.389% 0.11513 273.621); 
    --high-contrast-active-thumb: oklch(45.203% 0.3133 264.073);
    --high-contrast-accent: oklch(45.203% 0.3133 264.073);
    --text-xs: 0.925rem;
    --text-sm: 1.125rem;
    --text-m: 1.25rem;
    --text-l: 1.5rem; 
}

.dark {
    --bg-default: oklch(15.907% 0.00002 271.152);
    --bg-dark: oklch(33.289% 0.00004 271.152);
    --text-default: oklch(95.514% 0.00011 271.152);
    --text-secondary: oklch(84.522% 0.0001 271.152/0.75);
    --color-accent: oklch(68.559% 0.16753 277.645);
    --color-accent-light: oklch(81.928% 0.05311 274.431);
    --high-contrast-bg: oklch(0% 0 0);
    --high-contrast-text: oklch(100% 0.00011 271.152);
    --high-contrast-track: oklch(75.402% 0.00009 271.152);
    --high-contrast-thumb: oklch(36.002% 0.00004 271.152);
    --high-contrast-active-track: oklch(80.202% 0.09974 273.907); 
    --high-contrast-active-thumb: oklch(37.639% 0.22784 268.253);
    --high-contrast-accent: oklch(80.202% 0.09974 273.907);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-default);
    color: var(--text-default);
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    transition: background-color 150ms ease, color 150ms ease;
}

main {
    padding: 24px;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

h1, h2, p {
    margin: 0;
    font-weight: 400;
}

h1 {
    margin-bottom: var(--semantic-spacing-xl);
}

h2 {
    font-size: var(--text-l);
    margin-bottom: var(--semantic-spacing-s);
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: space-between;
}

.flex-wrapper > section {
    flex: 33%;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.col {
    display: flex;
    flex-flow: column nowrap;
}

input {
    margin: var(--semantic-spacing-s) 0;
    padding: var(--decorative-spacing-xs) var(--decorative-spacing-s);
    border: 1px solid var(--text-default);
    border-radius: var(--border-radius-large);
}

input:focus-visible {
    outline: 1.5px solid var(--text-default);
}

.dark-mode {
    margin: var(--semantic-spacing-l);
    border-radius: var(--border-radius-large);
    padding: var(--decorative-spacing-s) var(--decorative-spacing-m);
    background-color: var(--color-accent);
    border: none;
    color: var(--bg-default);
    min-width: 95px;
    transition: background-color 100ms ease-out;
}

.toggle {
    margin-bottom: var(--semantic-spacing-m);
}

.toggle-title {
    font-size: var(--text-m);
}

.toggle-desc {
    font-size: var(--text-xs);
    color: var(--text-secondary);
}

.track {
    position: relative;
    min-width: 75px;
    margin: var(--semantic-spacing-m) 0;
    padding: var(--decorative-spacing-xs) 0;
    border-radius: var(--border-radius-large);
    background-color: var(--bg-dark);
    border: none;
    transition: background-color 150ms ease-out;
}

.track.active {
    background-color: var(--color-accent-light);
}

.thumb {
    position: relative;
    left: var(--decorative-spacing-xs);
    width: 24px;
    height: 24px;
    border-radius: 1000px;
    border-radius: var(--border-radius-large);
    background-color: var(--bg-default);
    transition: background-color 150ms ease-out, left 250ms ease;
}

.active .thumb {
    left: 45px;
    background-color: var(--color-accent);
}

.monospace {
    font-family: monospace;
    font-size: var(--text-sm);
}

.reduced-motion, .reduced-motion * {
    transition: none;
}

.high-contrast {
    background-color: var(--high-contrast-bg);
    color: var(--high-contrast-text);
}

.high-contrast .track {
    background-color: var(--high-contrast-track);
}

.high-contrast .track.active {
    background-color: var(--high-contrast-active-track);
}

.high-contrast .thumb {
    background-color: var(--high-contrast-thumb);
}

.high-contrast .active .thumb {
    background-color: var(--high-contrast-active-thumb);
}

.high-contrast .toggle-desc {
    color: var(--high-contrast-text);
}

.high-contrast .dark-mode {
    background-color: var(--high-contrast-accent);
}

.increased-focus *:focus-visible, 
.increased-focus *:focus {
    outline: 2px solid black;
}